.custom-slideshow__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.custom-slideshow__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.custom-slideshow {
  position: relative;
}

.custom-slideshow__text-content-container {
  position: absolute;
  width: 100%;
  background: transparent;
  left: 0;
  top: 0;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.custom-slideshow__text-content {
  width: 50%;
  padding: 20px 35px;
  margin-bottom: 75px;
}
.custom-slideshow__text-content a {
  margin-top: 30px;
  position: relative;
}

.custom-slideshow .splide__slide {
  border-radius: 15px;
  overflow: hidden;
}

.custom-slideshow__pre-heading {
  display: inline-block;
  border: 1px solid;
  border-radius: 30px;
  padding-right: 10px;
  backdrop-filter: blur(10px);
  font-size: calc(var(--font-body-scale) * 14px);
}
.custom-slideshow__pre-heading li {
  list-style-type: disc;
}
.custom-slideshow .splide__arrow {
  background: none;
  top: unset;
  bottom: 0;
  transform: unset;
  opacity: 1;
}
.custom-slideshow .splide__arrow.splide__arrow--prev {
  left: 40%;
  margin-bottom: 10px;
}
.custom-slideshow .splide__arrow.splide__arrow--next {
  right: 40%;
  margin-bottom: 10px;
}
.custom-slideshow .splide__arrow svg {
  fill: #fff;
}

.custom-slideshow .splide__pagination__page {
  background: transparent;
  border: #fff solid 1px;
  width: 1rem;
  height: 1rem;
  margin: 10px;
}
.custom-slideshow .splide__pagination__page.is-active {
  width: 3rem;
  border-radius: 10px;
  margin: 5px;
  background: #fff;
  opacity: 1;
  transform: scale(1.1);
}

.custom-slideshow__heading a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.custom-slideshow__heading a::before {
  content: "";
  width: 0;
  height: 2px;
  background: red;
  position: absolute;
  top: 100%;
  left: 0;
}

.custom-slideshow__heading a:hover::before {
  width: 100%;
  transition: width 0.5s ease;
  transform-origin: left;
}
.custom-slideshow__heading a:not(:hover)::before {
  width: 0%;
  transition: width 0.5s ease;
  transform-origin: left;
}

.custom-slideshow__heading a:hover {
  color: red;
  transition: color 0.5s ease;
}

.custom-slideshow__heading a:not(:hover) {
  color: inherit;
  transition: color 0.5s ease;
}

.custom-slideshow__heading * {
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .custom-slideshow__text-content {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .custom-slideshow .splide__arrow.splide__arrow--prev {
    left: 30%;
  }
  .custom-slideshow .splide__arrow.splide__arrow--next {
    right: 30%;
  }
  .custom-slideshow__text-content a {
    margin-top: 0;
  }
  .custom-slideshow__text-content-container {
    justify-content: center;
    align-items: center;
  }
  .custom-slideshow__heading.h1 {
    font-size: calc(var(--font-heading-scale) * 26px);
  }
  .custom-slideshow__image {
    padding-bottom: 100%;
  }
}
