.custom-slideshow__image {
  position: relative;
  width: 100%;
  height: auto;
}
.custom-slideshow__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.custom-slideshow {
  position: relative;
}

.custom-slideshow__text-content-container {
  position: absolute;
  width: 100%;
  background: transparent;
  left: 0;
  top: 0;
  padding: 20px;
  height: 100%;
}

.custom-slideshow .splide__slide {
  border-radius: 30px;
}
