.custom-slideshow__image {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 30px;
}
.custom-slideshow__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
}
.custom-slideshow {
  position: relative;
}

.custom-slideshow__text-content-container {
  position: absolute;
  width: 100%;
  background: transparent;
  left: 0;
  top: 0;
  padding: 20px;
  border-radius: 30px;
  height: 100%;
}

.custom-slideshow .splide__slide {
  border-radius: 30px;
}

.custom-slideshow__sub-heading {
  display: inline-block;
  border: 1px solid;
}
..custom-slideshow__sub-heading li {
  list-style: disc;
}
