.shop-the-look__image-dot-container {
  position: relative;
}

.shop-the-look__text-content-container {
  margin-top: 15px;
  position: relative;
}

.shop-the-look__image-container {
  border-radius: 15px;
  overflow: hidden;
}

.shop-the-look__description * {
  line-height: normal;
  margin: 0px;
  font-size: calc(var(--font-body-scale) * 18px);
}

.shop-the-look__text-content-container .button:after {
  background: #d03c3f;
}

.shop-the-look__text-content-container .button {
  margin-top: 20px;
}

.shop-the-look__dot {
  position: absolute;
}

.shop-the-look__dot:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(var(--color-foreground));
  border-radius: 100%;
  top: 0%;
  left: 0%;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 10px;
}

.shop-the-look__dot:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: var(--gradient-background);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s ease;
  left: 3px;
  top: 3px;
}

.shop-the-look__product-container {
  /* visibility: hidden;
  opacity: 0; */
  transition: all var(--duration-medium) ease;
  z-index: 2;
  border-radius: 10px;
  width: 120px;
  text-align: center;
}

.shop-the-look__data {
  border-radius: 10px;
  display: grid;
}

.shop-the-look__product-details * {
  margin: 0px;
  line-height: normal;
  text-decoration: none;
}

.shop-the-look__dot:hover {
  .shop-the-look__product-container {
    visibility: unset;
    opacity: unset;
  }
}
